#!/usr/bin/env bash

# ==============================================================================
# = history                                                                    =
# ==============================================================================

# Where it gets saved
unset HISTFILE
HISTFILE=~/.history

 # Remember about a years worth of history (AWESOME)
SAVEHIST=10000
HISTSIZE=10000
