#!/usr/bin/env bash

# ==============================================================================
# = functions                                                                  =
# ==============================================================================

# Always list directory contents upon 'cd'
cd() {
  builtin cd "$@"; ll; 
}               

# What do?
function help() {
      curl cht.sh/$1
}
